/* Fonte Header */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Fonte Intro */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.header {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header p {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.header .logo-center {
    justify-content: center;
}

.navbar {
    display: flex;
    gap: 30px;
    padding-left: 40px;
}

.logo {
    display: flex;
    justify-content: center;
    background-image: url('../icons/logo.png');
    width: 163px;
    height: 45px;
    margin-right: 160px;
}

.login-cadastro {
    display: flex;
    gap: 30px;
    padding-right: 40px;
}


/* banner */
.banner {
    width: 100%;
    height: 900px;
    background-image: url('../icons/banner.png');
    background-size: cover;
}

/* intro */
.intro {
    padding-top: 100px;
    padding-left: 100px;
}

.intro h1 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 30px;
    font-size: 64px;
    width: 900px;
}

.intro p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 840px;
    padding-bottom: 30px;
}

button {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    width: 220px;
    height: 55px;
    border-radius: 100px;
    border: 1px solid #c2f05a;
    background-color: #3c5b0a;
    color: white;
    display: inline-flex;
    align-items: center;  
    justify-content: center;  
    gap: 10px;
}

.btn-icon {
    padding-top: 2px;
    width: 14px;
    height: 10px;
}

/* slides - valores */
.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    max-width: 1106px;
}

.conteudo {
    display: flex;
    width: 400%;
    height: auto;
    padding-top: 50px;
}

.conteudo input {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    max-width: 1106px;
    margin-top: 32%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-botao, .nav-auto div {
    border: 1px solid #3c5b0a;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.nav-manual .manual-botao:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-botao:hover {
    background-color: #3c5b0a;
}

#radio1:checked ~ .nav-auto .auto-botao1 {
    background-color: #3c5b0a;
}
#radio2:checked ~ .nav-auto .auto-botao2 {
    background-color: #3c5b0a;
}
#radio3:checked ~ .nav-auto .auto-botao3 {
    background-color: #3c5b0a;
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}

#radio2:checked ~ .primeiro {
    margin-left: -25%;
}

#radio3:checked ~ .primeiro {
    margin-left: -50%;
}

/* texto conector */
.texto-conector {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.texto-conector p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
}

/* painel */
.painel {
    display: flex;
    width: 100%;
    max-width: 1135px;
    height: auto;
    justify-content: center;
    justify-self: center;
    padding-top: 30px;
}

.painel .imagem {
    background-image: url('../icons/imagem-painel.png');
    background-size: cover;
    width: 666px;
    height: 888px;
}

.painel .dados {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-left: 140px;
}

.painel .dados h1 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
}

.painel .dados .grupos p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 120px;
    text-align: center;
    color: #3c5b0a;
}

.painel .dados p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 64px;
    text-align: center;
    color: #3c5b0a;
}